{% extends "layout.html" %}
{% load staticfiles %}
{% block head %}
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<style>
#divgiohang_update{ width:700px; }
#divgiohang_update th{ color:#FF0066 }
#divgiohang_update h4{ margin:0; color:#FF3399}
#divgiohang_update p { margin-top:8px; margin-bottom:0; color:#FF9900}
#cacnutxulygiohang { text-align:center; padding-top:5px; padding-bottom:5px;}
#cacnutxulygiohang input{ background-color:#FF6600;
			padding-top:2px; padding-bottom:2px; color:#99FF00;
			margin-left:10px; border:none; }
			   .hightlight {background-color:#FFFF00 !important ;}

</style>
<script>
var url= "<?= base_url()?>cart/cartprocess/";
$(document).ready(function(){
   $(".hang").mouseover(function () { $(this).addClass("hightlight"); });

    $(".hang").mouseout(function () { $(this).removeClass("hightlight"); });
$(".removesp").click(function(){
       var idSP = $(this).attr("idSP");

         var param = idSP+"/remove/"+1;
	   truyvan=url+param;
       $(".tt").load(truyvan,null,xuly);

   });
   $(".capnhatsoluong").click(function(){
       var idSP = $(this).attr("idSP");
       var soluong = $(this).parent().find('#soluong').val();
	       var param = idSP+'/update/'+soluong;
	truyvan=url+param;

     $(".tt").load(truyvan,null,xuly);



   });
$("#btnxoagiohang").click(function() {
  var param = 1+'/removeAll/'+1;
	truyvan=url+param;
		$(".tt").load(truyvan,null,xuly);

	});
	$("#btntieptucmuahang").click(function() {

		document.location="/cat.html";
	});

	$("#btnmuahang").click(function(){
		document.location="<?= site_url()?>muahang";
	});

});
 function xuly()
  {
    $(".GH").load('<?= base_url()?>cart/giohangtomtat');
	$(".noidunggiohang").load("<?= base_url()?>cart/giohangupdate");

  }

</script>

<div class="noidunggiohang">
 <div id="divgiohang_update">
<?php  if ( count($_SESSION['daySoLuong'])<=0) { ?>
<p>Bạn chưa chọn sản phẩm nào</p>
<?php } else { ?>

<table width="100%" border=" 1px " bordercolor="#FF66CC"  align=center cellpadding=3 cellspacing=0 id=tblgiohang>
<caption style="background-color:#3B5998;color:#FFF;height:35px;font-weight:100"> Các sản phẩm bạn đã chọn</caption>
<tr>
<th width=530>Sản phẩm</th> <th width=100>Số lượng</th> <th width=100>Tiền</th>
</tr>

<tr class="hang">
  <td>
    <img src="<?=$urlhinh;?>" align=left width=40 height=80>
    <h4> <?=$tensp;?> </h4>
   <p> <?=$mota;?> </p>
  </td>
  <td align="center"> <form action="" id="formUpdate" style= "margin:0">
     <input name="soluong" id="soluong" value="<?=$soluong;?>" size=2 >
     <img src="{% static 'images/refresh.gif' %}" class="capnhatsoluong"  title="Cập Nhật" idSP=""/>
     <img src="{% static 'images/remove.gif' %} " class="removesp" title="Xóa" idSP=""/>
</form>
 </td>
  <td align="center"> <?= $tien?> </td>
</tr>

<tr class="tongket">
  <th align="right">Total</th><th align="center"> </th>
  <th align="center"> </th>
</tr>

</table>

</div> <!-- divgiohang_update  -->
</div>
<div id="cacnutxulygiohang" >
<input type=button id="btntieptucmuahang" name="btntieptucmuahang" value="Tiếp tục mua hàng" />
<input type=button id="btnxoagiohang" name="btnxoagiohang" value="Xoá giỏ hàng" />
<input type=button id="btnmuahang" name="btnmuahang" value="Mua hàng" />
</div>

{% endblock %}