<html>
<head>
<title>Kitten</title>
<link rel="stylesheet" href="style.css" type="text/css" />

</head>
<body >
<div class="container">
<div id="logo"><img src="cat logo.png" width="200" height"="100"></div>
<div class="wrapper">
<div id="top">
<br>
<nav>
  <div class="testnavi">
    <ul class="nav navm">
	<li class="navi"><a class="navi" href="index.html"><span>ORDER</span></a>
	<ul class="navm">
		<li class="navi"><a class="navi" href="cat.html">Kitten</a></li>
		<li class="navi"><a class="navi" href="topping.html">Toppings</a></li>
	</ul>
    </li>
    </div>
 <div id ="gallery">
<ul id="main">
<li>
<img src="cat1.png"alt="" width="140" height ="170"/> 
<h1> British shorthair </h1>
<div class="desc"> The British Shorthair is a stocky purebred that resembles a plush teddy bear.Brits are found in a number of colors and patterns.</div>
 <input type="submit" value="add to cart"/>
 <select name="Size">
   <option value="-1" selected>Size-Price</option>
   <option value="1">Small-$200</option>
   <option value="2">Medium-$300</option>
   <option value="3">Large-$500</option>
 </select>
</li>

<li>
<img src="cat2.png"alt="" width="140" height ="170"/> 
 <div class="desc">
 <h1> Perisan </h1>
 <div class="desc">The impressive Persian is a massively built cat clothed in a long, flowing coat. Short, heavily boned legs support the Persian's boxy body.
 </div>
 <input type="submit" value="add to cart"/>
 <select name="Size">
   <option value="-1" selected>Size-Price</option>
   <option value="1">Small-$200</option>
   <option value="2">Medium-$300</option>
   <option value="3">Large-$500</option>
 </select>
</li>

<li>
 <img src="cat3.png"alt="" width="140" height ="170"/> 
<h1> Snowshoes </h1>
  <div class="desc">
 As its name suggests, the outstanding feature of the Snowshoe breed is its four white feet..</div>
 <input type="submit" value="add to cart"/>
 <select name="Size">
   <option value="-1" selected>Size-Price</option>
   <option value="1">Small-$200</option>
   <option value="2">Medium-$300</option>
   <option value="3">Large-$500</option>
 </select>
</li>

<li>
  <img src="cat4.png"alt="" width="140" height ="170"/> 
  <h1> Boombay </h1>
<div class="desc">This American breed is called the Bombay because its intensely black coat is reminiscent of that of an Indian black leopard.
<input type="submit" value="add to cart"/>
<select name="Size">
   <option value="-1" selected>Size-Price</option>
   <option value="1">Small-$200</option>
   <option value="2">Medium-$300</option>
   <option value="3">Large-$500</option>
 </select>

</li>

<li>
  <img src="cat5.png"alt="" width="140" height ="170"/> 
  <h1> Munchkin </h1>
<div class="desc">The Munchkin is distinguished by a spontaneous dominant mutation that shortens the cat's legs. Except for their disproportionately short legs, cats should be well-balanced.</div>
<input type="submit" value="add to cart"/>
<select name="Size">
   <option value="-1" selected>Size-Price</option>
   <option value="1">Small-$200</option>
   <option value="2">Medium-$300</option>
   <option value="3">Large-$500</option>
 </select>
</li>

<li>
  <img src="cat6.png"alt="" width="140" height ="170"/> 
  <h1> Selkirk Rex </h1>
<div class="desc">The Selkirk Rex is covered with a downy, curly coat with every little hair arranged in ringlets that lie close to the body. </div>
<input type="submit" value="add to cart"/>
<select name="Size">
<option value="-1" selected>Size-Price</option>
   <option value="1">Small-$200</option>
   <option value="2">Medium-$300</option>
   <option value="3">Large-$500</option>
 </select>
</li>

<li>
<img src="cat7.png"alt="" width="140" height ="170"/>
<h1> Korat </h1> 
<div class="desc">The Korat is an ancient shorthaired breed named after a province of Thailand. These felines are graced with a silver-blue coat, originally derived from black, following dilution. .</div>
<input type="submit" value="add to cart"/>
<select name="Size">
<option value="-1" selected>Size-Price</option>
   <option value="1">Small-$200</option>
   <option value="2">Medium-$300</option>
   <option value="3">Large-$500</option>
 </select>
</li>

<li>
 <img src="cat8.png"alt="" width="140" height ="170"/> 
 <h1> Orientals </h1>
<div class="desc">
Similar to the Siamese in body type and personality, Orientals do not, however, share the characteristic Siamese coloring. They are slender yet hearty and are generally of a solid color </div>
<input type="submit" value="add to cart"/>
<select name="Size">
   <option value="-1" selected>Size-Price</option>
   <option value="1">Small-$200</option>
   <option value="2">Medium-$300</option>
   <option value="3">Large-$500</option>
 </select>
</li>   
</div>
    
<div class="footer">
<div id="text">
<p> 2013@ All rights reserved The Happy Cats</p> 
</div>
</div>  
</div>
	</div>
    </div>
    </nav> 
</div> 

</body>
</html>
