{% extends "layout.html" %}
{% load staticfiles %}
{% block head %}
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
	<div class="title"><b>--	Rules of order 	--</b></div>
	<div id="row">
    <p> The Happy Cats provides different breed of cats. Any order will be proceed in at least 3 days and we will transfer the kitten to your place as soon as possible. </p><br/>
    <p> If your place is outsie US, your order will take a little bit longer, at least is 1 month.</p>
    <br> </br>

    <img src="{% static 'images/cat1.jpg' %}" width="500" height="250">
{% endblock %}