{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
 <table>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {% for item in items %}
        <tr>
            <td><img src="/{{ item.image }}" width="100px" height="100px"/></td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.num }}</td>
        </tr>
        {% endfor %}
  </table>
{% endblock content %}
