html, body, ul, li, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

body {
	font-family: arial, sans-serif;
}

#wrapper {
	box-shadow: 0 0 10px #777;
	min-height: 100%;
}

#nav > ul > li {
	display: inline;
	line-height: 13px;
}

#footer {
	text-align: center;
	background: #606060;
	color: #eee;
	height: 150px;
}