body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
body {  
	margin:0;
	padding:0;
	text-align:center;
}
.container	{ 
	width:987px;
	min-height:1024px;
	margin:0 auto;
	padding:0;
	text-align:left;
	box-shadow:1px 1px 6px #000;
	font-size:62.5%;
	font-family:Arial, Helvetica, sans-serif;
}
.wrapper {
	margin-left:27px;
}
#top {
	height:80px;
	width:960px;
	background-color:#ffffff;
	color:#000000;
	margin:0 auto;
	align:center;
}
.toplink{
	font-size: 2em;
	float: right;
	margin-right:30px;
	margin-top:20px;
	color: #09F;
	
} 
	
	
#row {
	margin:0 240px 50px 240px;
	float:left;
	clear:left;
	font-size:1.5em;
}
hr {
	color: #000000;
	width:800px;
	align:center;
}
.title {
	background-color:#ed8342;
	width:800px;
	height:70px;
	margin:0 0 10px 0;
	float:right;
	margin-right:80px;
	text-align:center;
	font-size:3em;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	line-height: 44px;
	letter-spacing: -2px;
}
.footer {
	clear:both;
	background-color:#666;
	height:80px;
	width:990px;
	float:right;
	margin:70px 0 0px 0;
	float:right;
	text-align:center;
	font-size:2em;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #FFF;
	line-height: 44px;
	}
	
/*start of navigation menu*/
ul.nav ul{
	display:none;
}
ul.nav li:hover>ul{
	display:block;
}
ul.nav ul{
	position: absolute;
	left:-1px;top:98%;
}
ul.nav ul ul{
	position: absolute;
	left:98%;top:-2px;
}
ul.nav,ul.nav ul {
	margin:0px;
	list-style:none;
	padding:0px 2px 2px 0px;
	background-color:#333333;
	background-repeat:repeat;
	border-color:#cccccc #111111 #111111 #cccccc;
	border-width:1px;
	border-style:solid;
}
ul.nav table {border-collapse:collapse;}
ul.nav {
	display:block;
	zoom:1;
	float: left;
}
ul.nav ul{
	width:241.5px;
}
ul.nav li{
	display:block;
	margin:2px 0px 0px 2px;
	font-size:0px;
}
ul.nav a:active, ul.nav a:focus {
	outline-style:none;
}
ul.nav a, ul.nav li.dis a:hover, ul.nav li.sep a:hover {
	display:block;
	vertical-align:middle;
	background-color:#333333;/*block background color*/
	border-width:1px;
	border-color:#333333;
	border-style:solid;
	text-align:left;
	text-decoration:none;
	padding:2px 5px 2px 10px;
	_padding-left:0;
	font:normal 21px Trebuchet MS,Tahoma;
	color: #ffffff;
	text-decoration:none;
	cursor:default;
}
ul.nav span{
	overflow:hidden;
}
ul.nav li {
	float:left;
}
ul.nav ul li {
	float:none;
}
ul.nav ul a {
	text-align:left;
	white-space:nowrap;
}
ul.nav li.sep{
	text-align:left;
	padding:0px;
	line-height:0;
	height:100%;
}
ul.nav li.sep span{
	float:none;
	padding-right:0;
	width:3px;
	height:100%;
	display:inline-block;
	background-color:#cccccc #111111 #111111 #cccccc;
	background-image:none;}
ul.nav ul li.sep span{
	width:100%;
	height:3px;
}
ul.nav li:hover{
	position:relative;
}
ul.nav li:hover>a{
	background-color:#990033;/*990033 hover color*/
	border-color:#990033;
	border-style:solid;
	font:normal 20px Trebuchet MS, Tahoma;
	color: #FFFFFF;/*text hover color*/
	text-decoration:none;
}
ul.nav li a:hover{
	position:relative;
	background-color:#990033;
	border-color:#990033;
	border-style:solid;
	font:normal 20px Trebuchet MS, Tahoma;
	color: #FFFFFF;
	text-decoration:none;
}
ul.nav li.dis a {
	color: #666 !important;
}
ul.nav img {
	border: none;
	float:left;
	_float:none;
	margin-right:2px;
	width:16px;
	height:16px;
}
ul.nav ul img {
	width:16px;
	height:16px;
}
ul.nav img.over{display:none}
ul.nav li.dis a:hover img.over{display:none !important}
ul.nav li.dis a:hover img.def {display:inline !important}
ul.nav li:hover > a img.def  {display:none}
ul.nav li:hover > a img.over {display:inline}
ul.nav a:hover img.over,ul.nav a:hover ul img.def,ul.nav a:hover a:hover img.over{display:inline}
ul.nav a:hover img.def,ul.nav a:hover ul img.over,ul.nav a:hover a:hover img.def{display:none}
ul.nav a:hover ul{display:block}
ul.nav span{
	display:block;
	background-image:url(./images/arr_white.gif);
	background-position:right center;
	background-repeat: no-repeat;
   padding-right:12px;}
ul.nav li:hover>a>span{	background-image:url(./images/arrv_white.gif);
}
ul.nav a:hover span{	_background-image:url(./images/arrv_white.gif)}
ul.nav ul span,ul.nav a:hover table span{background-image:url(./images/arr_white.gif)}
.testnavi {
	width:960px;
	height:10px;
	align:center;
	margin:0 0 0 170px;
	float:left;
}
/*end of navigation menu*/
#logo {
	width:50px;
	height:100px;
	margin-left: 400px;
	margin-bottom:50px; 
	padding-top: 10px; 
	

}

#gallery #main {
padding-left: 20px;
}
#gallery #main li {
float: left;
width: 160px;
height:150px;
margin: 100px 20px 100px 40px;
}
#gallery #main li img {
display: block;
width: 100%;

#gallery {
padding: 2em 0;
margin: 0 auto;
width: 600px;
font: small Verdana, sans-serif;
}
#gallery h2 {
margin: 0;
border-bottom: 1px solid #666;
}
#gallery #main {
	
width: 100%;
margin: 0;
padding: 1em 0;
list-style: none;
}
#gallery #main li p {
margin: 0;
}
ul,li
{
	list-style-type: none;
}
div.desc
  {
  text-align:center;
  font-weight:normal;
  font-size:1.5em;
  text-align:center;
  width:120px;
  margin:2px;
  }
  
#contacts-form {
	 clear:right;width:100%;
	 overflow:hidden;
	 padding:15px 0 0 0}
	 
#contacts-form fieldset {border:none;float:left}
#contacts-form .field {clear:both}

#contacts-form label {float:left;width:97px;
line-height:20px;
padding-bottom:5px;font-weight:bold}

#contacts-form input {width:246px;padding:2px 0 2px 3px;background:#16acf1;border:1px solid #91dcfe;color:#fff}

#contacts-form input[type="submit"] 
{margin-top: 20px; width: 100px; height: 25px; background-color: blue; cursor: pointer; transition: background-color 0.5s; -moz-transition: background-color 0.5s;}

#contacts-form input[type="submit"]:hover {background-color: #16acf1;}
	