html, body, ul, li, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

body {
	font-family: arial, sans-serif;
}

#wrapper {
	box-shadow: 0 0 10px #777;
	min-height: 100%;
}

#logo {
	text-align: center;
	padding: 30px;
}

#logo img {
	height: 150px;
}

#nav {
	padding: 0 40px;
}

#nav > ul {
	position: absolute;
}

#nav > ul:hover > li.hidden {
	display: block;
}

#nav > ul > li {
	line-height: 32px;
	width: 200px;
	height: 32px;
	padding: 0 5px;
	background: #444;
	color: #eee;
}

#nav > ul > li.hidden {
	display: none;
} 

#nav a {
	color: #eee;
	text-decoration: none;
}

#content {
	padding: 40px;
}

#footer {
	text-align: center;
	background: #606060;
	color: #eee;
	line-height: 100px;
	height: 100px;
}